<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CalcToast">

    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CalcToast"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.CalcToast.Divisao_Activity"></activity>
        <activity android:name="com.example.CalcToast.Soma_Activity" />
        <activity android:name="com.example.CalcToast.Multiplicacao_Activity" />
        <activity android:name="com.example.CalcToast.Subtracao_Activity" />
        <activity android:name="com.example.CalcToast.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>